.container {
  display: flex;
  height: calc(100vh - 65px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  background-image: var(--landing-background);
}

.container h1 {
  color: var(--secondary-font-color);
  font-size: 9rem;
  margin: 0;
}

.container h1 span {
  font-size: 13rem;
}

.container h3 {
  color: var(--secondary-font-color);
  font-size: 2rem;
  margin-top: -42px;
  margin-left: 10rem;
  letter-spacing: 3px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.buttons .link {
  font-size: 1rem;
  color: #fff;
  padding: 1.2rem 3rem;
  background-color: #6b0f1a;
  text-decoration: none;
  border: 1px solid black;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.buttons .link:hover {
  transform: scale(1.1);
}

.buttons .link:nth-child(2) {
  background-color: #ffad05;

  color: black;
}
