.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 2, 27);
}

.container h1 {
    color: #fff;
    font-size: 9rem;
    margin: 0;
}

.container h1 span {
    font-size: 13rem;
}

.container h3 {
    color: #fff;
    font-size: 2rem;
    margin-top: -42px;
    margin-left: 10rem;
    letter-spacing: 3px;
}
