.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #330033;
  background-image: var(--landing-background);
}

.container h1 {
  color: #fff;
  font-size: 9rem;
  margin: 0;
}

.container h1 span {
  font-size: 13rem;
}

.container h3 {
  color: #fff;
  font-size: 2rem;
  margin-top: -42px;
  margin-left: 10rem;
  letter-spacing: 3px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.buttons button {
  font-size: 1rem;
  color: #fff;
  padding: 1.2rem 3rem;
  background-color: #6b0f1a;

  border: 1px solid black;
  margin: 0 0.5rem;
  cursor: pointer;
}

.buttons button:nth-child(2) {
  background-color: #ffad05;

  color: black;
}
