.rowContainer {
  border-bottom: 1px solid red;
  cursor: pointer;
}

.rowContainer td {
  padding: 0.5rem 1rem;
}

.rowContainer td:nth-child(1) {
  padding: 0.5rem 0;
}

.favBtn {
  text-align: center;
}

.name {
  text-align: start;
}

.price {
  text-align: end;
}

.change {
  text-align: end;
}

.volume {
  text-align: end;
}

.favBtn button {
  background: none;
  border: none;
  cursor: pointer;
}

.favBtn img {
  width: 18px;
  height: 18px;
}
