.rowContainer {
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  color: var(--primary-font-color);
}

.rowContainer:hover {
  background-color: var(--primary-gray);
}

.rowContainer td {
  padding: 0.5rem 1rem;
}

.rowContainer td:nth-child(1) {
  padding: 0.5rem 0;
}

.favBtn {
  text-align: center;
}

.rank {
  text-align: center;
  font-size: 1.2rem;
}

.logo {
  text-align: center;
}

.logo img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.name {
  text-align: start;
}

.name span:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 1rem;
}

.price {
  text-align: end;
}

.change {
  text-align: end;
}

.volume {
  text-align: end;
}

.favBtn button {
  background: none;
  border: none;
  cursor: pointer;
}

.favBtn img {
  width: 18px;
  height: 18px;
}
