.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
  min-height: 100vh;
  color: var(--primary-font-color);
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
  border-bottom: 1px solid var(--secondary-gray);
}

.topLeft {
  display: flex;
}

.topLeft img {
  width: 256px;
  height: 256px;
  margin-right: 4rem;
}

.topLeft .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topLeft .name p:nth-child(1) {
  font-size: 4rem;
  font-weight: 500;
}

.topLeft .name p:nth-child(2) {
  font-size: 2rem;
}

.topRight {
  display: flex;
  flex-direction: column;
}

.favBtn {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.topRight .favBtn button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  width: 250px;
  color: var(--primary-font-color);
  justify-content: space-between;
  text-decoration: underline;
}

.favBtn img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.priceChange {
  display: flex;
  align-items: flex-end;
  font-size: 4.5rem;
}

.priceChange p:nth-of-type(1) {
  margin-right: 5rem;
}

.priceChange .change span {
  display: block;
  font-size: 1rem;
  text-align: end;
}

.volume {
  margin-top: 1rem;
  font-size: 3rem;
}

.volume span {
  display: block;
  font-size: 1rem;
}

.bottomContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--secondary-gray);
  padding-bottom: 4rem;
}

.description {
  line-height: 1.7rem;
  text-align: justify;
  font-size: 1.1rem;
}

.supplyDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.supplyDetails .numData {
  font-size: 1.5rem;
  font-weight: 500;
}

.linkContainer {
  text-align: end;
  margin-top: 2rem;
}

.linkContainer .link {
  color: #000;
}
