.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 6rem 0;
  margin: 6rem auto;
  background-color: var(--background-color);
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
  }
}
