.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 40px;

  background-color: #ffad05;
  border-bottom: 1px solid #000;
  box-shadow: 0 4px 2px -2px #626262;
  z-index: 100;
}

.leftContainer {
  width: 30%;
}

.centerContainer {
  text-align: center;
}

.rightContainer {
  width: 30%;
  text-align: end;
}

.link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 2rem;
  height: 100%;
  padding: 0.5rem 1rem;
  color: #000;
}

.link:hover {
  border-bottom: 1px solid #000;
}

.container span {
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}

.arrowIcon {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  vertical-align: center;
}

.fiatSwitchContainer {
  position: fixed;
  top: 65px;
  right: 70px;
  display: flex;
  flex-direction: column;
}

.fiatSwitchContainer button {
  width: 112px;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #ccc;
  cursor: pointer;
}

.fiatSwitchContainer button:hover {
  background-color: #aeaeae;
}

.themeToggler {
  background: none;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
}

.themeToggler img {
  width: 22px;
  height: 22px;
}
