.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 40px;
  color: #fff;
  background-color: #550055;
  border-bottom: 1px solid #3f003f;
  box-shadow: 0 4px 2px -2px #3f003f;
  z-index: 100;
}

.leftContainer {
  width: 30%;
}

.centerContainer {
  text-align: center;
}

.rightContainer {
  width: 30%;
  text-align: end;
}

.link {
  text-decoration: none;
  color: #fff;
  margin-right: 2rem;
  height: 100%;
  padding: 0.5rem 1rem;
}

.link:hover {
  border-bottom: 1px solid #ccc;
}

.container span {
  margin-left: 1rem;
  cursor: pointer;
}

.arrowIcon {
  width: 18px;
  height: 18px;
  filter: invert(1);
  margin-left: 4px;
  vertical-align: text-bottom;
}

.fiatSwitchContainer {
  position: fixed;
  top: 70px;
  right: 120px;
  display: flex;
  flex-direction: column;
}

.fiatSwitchContainer button {
  width: 112px;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid #330033;
  background-color: #ccc;
  cursor: pointer;
}

.fiatSwitchContainer button:hover {
  background-color: #aeaeae;
}
