.container {
  margin: 0 auto;
  padding-top: 35px;
  max-width: 1200px;
  min-height: 100vh;
  text-align: center;
  color: var(--primary-font-color);
}

.container img {
  width: 640px;
  margin-bottom: 5rem;
}
