.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  border-top: 1px solid #ccc;
  background-color: #ccc;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container h2 {
  color: #330033;
  margin-bottom: 2rem;
}

.container p {
  margin-bottom: 1rem;
}
