.container {
  margin: 0 auto 10rem auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.container h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.container table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.container th {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #cccccc;
}

.rank {
  text-align: center;
  padding: 0.5rem 0 !important;
}

.name {
  text-align: start;
}

.price {
  text-align: end;
}

.change {
  text-align: end;
}

.volume {
  text-align: end;
}

.link {
  margin-top: 3rem;
  text-align: end;
  font-size: 1.2rem;
}
