.landing {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 2, 27);
}

.landing h1 {
    color: #fff;
    font-size: 9rem;
    margin: 0;
}

.landing h1 span {
    font-size: 13rem;
}

.landing h3 {
    color: #fff;
    font-size: 2rem;
    margin-top: -42px;
    margin-left: 10rem;
    letter-spacing: 3px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5rem 0;
}

.cryptoCard {
    margin: 0 auto;
    width: 300px;
    border: 1px solid red;
    height: 380px;
    padding: 2rem;
    border-radius: 48px;
}

.cryptoCard .topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cryptoCard .topSection .percentage {
    font-size: 2.5rem;
    font-weight: 800;
}

.cryptoCard .topSection .percentage span {
    font-size: 2rem;
}

.cryptoCard .coinName {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.cryptoCard .coinName span {
    font-size: 1rem;
}

.cryptoCard .price {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.cryptoCard .price span {
    font-size: 2rem;
}

.cryptoCard .volumeNumber {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
}



